<h3>Dear Team</h3>
<div>
  <p  style="text-indent: 20px;">
  The Access for <%= link_to(@subject, @news_url)%>,  raised by “username” is going to expire by Today( <%=@author.name.capitalize%> ). Please revoke the access by EOD.
  </p>
  <br><br><br><p>
  Thanks!<br>
  Team NANBA
</p>
  <br><br>
  <p style="font-size: 9px">
  Note : This is auto generated message. Please do not reply.
</p>
</div>

<style type="text/css">
body {
    background-color: red;
}
        div{min-height: 300px;}
</style>