<h3>Dear Team,</h3>
<p  style="text-indent: 20px;">
  Ticket request validity validation job was <%=@subject%>
</p>

<br><br><br>
<p>
  Thanks!<br>
  Nanba
</p><br><br>
<p style="font-size: 9px">
  Note : This is auto generated message. Please do not reply.
</p>



<style type="text/css">
  body {
    background-color: #f5af46;
  }
  div{min-height: 300px;}
</style>